html, body { height: 100%; }

body {
  margin: 0;
  background-color: #eee;
}

body.loading {
  background: #eee url(loading.gif) center center no-repeat fixed;
}

body.loading img {
  opacity: 0;
}

img {
  width: 25%;
  transition: opacity 1s;
}

@media (max-width: 768px) {
  img {
    width: 50%;
  }
}
